
:global(.custom-select) *, .page-controls {
  &::-webkit-scrollbar {
    width: .25rem !important;
    height: .25rem !important;
  }
  &::-webkit-scrollbar-track, & *::-webkit-scrollbar-track { background-color: transparent }
  &::-webkit-scrollbar-thumb, & *::-webkit-scrollbar-thumb {
    background-color: #b5b0c0;
    border-radius: .25rem;
    :global(.dark) & { background-color: #858090;}
  }
}

/** 
 *
 * START PAGINATION STYLES
 *
*/

/* The pagination container */
.pagination {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

/* The container for page navigation buttons and page numbers */
.page-controls {
  display: flex;
  flex: 0 1 70%;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  width: 20rem;
  overflow-x: scroll;
}

/* The page navigation buttons */
.page-left, .page-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  border: 0.0625rem solid #E2E8F0;
  border-radius: 0.125rem;
  color: var(--color-pagination-control);
  background-color: var(--color-surface);

  /* Dark theme */
  :global(.dark) & {
    border: none;
  }

  /* Disabled style */
  &.disabled {
    border: none;
    &:not(:global(.dark) &) { background-color: #E2E8F0 }

    :global(.dark) & {
      opacity: 0.6
    }
  }
}

/* The container for the page numbers */
.pages {
  display: flex;
  gap: 1rem;
  padding: .5rem;
}

/* The page numbers */
.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  color: var(--color-body);
  cursor: pointer;
  font-size: 0.875rem;

  /* Active state style */
  &.active {
    background-color: var(--color-primary);
    color: white;
  }

}

/* The container for the custom select element */
.limit {
  flex: 0 0 30%;
  display: block;
}

/* The custom select element */
:global(.custom-select) {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;

  /* Announcement div for screen readers */
  :global(.announcement) {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* Select label */
  label {
    display: block;
    text-align: left;
    font-size: 0.875rem;
    font-weight: 400;
  }

  /* Select button */
  button{
    display: flex;
    background-color: var(--color-surface);
    justify-content: space-between;
    align-items: center;
    width: 6rem;
    padding: .5rem;
    margin-left: 0.5rem;
    font-size: 0.875rem;
    text-align: center;
    position: relative;
    border: 0.0625rem solid var(--color-table-control-border);

    & .icon {
      transform: rotate(0);
      transition: transform 0.3s ease;
    }

    /* Rotate the icon when dropdown is open */
    &:has(+ .active) .icon {
      transform: rotate(180deg);
    }

    :global(.dark) & {
      border: none;
    }

    &:focus-visible {
      outline: 0;
      border: 0.125rem solid var(--color-body);
    }
  }
}

/* The select dropdown */
:global(.custom-select-options) {
  background-color: var(--color-surface);
  color: var(--color-body-variant);
  position: absolute;
  left: 0;
  right: .5rem;
  bottom: calc(100% + .5rem);
  overflow-y: auto;
  list-style-type: none;
  padding: 0.5rem;
  opacity: 0;
  transform: scale(1,0);
  transform-origin: bottom right;
  transition: all .3s ease-in-out;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 2;

  /* Active state */
  &.active {
    opacity: 1;
    transform: scale(1,1);
    box-shadow: 0 0 .75rem -0.25rem rgba(0, 0, 0, 0.2);
    pointer-events: all;

    :global(.dark) & { box-shadow: 0 0 1rem .0625rem rgba(0, 0, 0, 0.3); }
  }

  /* The select options */
  li {
    padding: .6rem .5rem;
    cursor: pointer;
    transition: all .3s ease-in;
    position: relative;

    &:not(:last-child) {
      border-bottom: 0.125rem solid var(--color-surface-dim);
    }

    &:hover, &.current {
      background-color: var(--color-surface-dim);
    }

    &.active {
      background-color: var(--color-primary);
      color: white;
    }
  }
}

@media (min-width: 768px) {
  .page-number {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/** 
 *
 * END PAGINATION STYLES
 *
*/

/** 
 *
 * START QUERY STYLES
 *
*/

/* The query controls above the table */
.query {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

/* The filter and sort query control containers */
.filter-container, .sort-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: 100%;

  /* The display text */
  &> span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-align: start;
    width: 100%;
  }

  &> * { flex: 5 0 100% }
}

.filter, .search { border-radius: 0.125rem }

/* The search container and icon */
.search-container {
  position: relative;
  height: 2.25rem;
  width: 100%;

  custom-icon {
    position: absolute;
    left: .5rem;
    top: .5rem;
    width: 1.25rem;
    height: 1.25rem;
    color: #94A3B8;
  }
}

/* The search bar gan gan */
.search {
  height: 100%;
  width: 100%;
  padding: .5rem;
  padding-left: 2.25rem;
  border: 0.0625rem solid var(--color-table-control-border);
  background-color: var(--color-surface);
  color: var(--color-body);

  &::placeholder {
    color: #CBD5E1;
  }
}

/* The filter select elements */
.filter {
  width: 100%;

  /* Change select elements default styling */
  :global(.custom-select) {
    button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .25rem;
      margin: 0;
    }
  }

  :global(.custom-select-options) {
    bottom: 0;
    top: calc(100% + .5rem);
    right: 0;
    left: auto;
    height: max-content;
    max-height: 14rem;
    width: 100%;
    transform-origin: top left;
    border: 0.0625rem solid var(--color-surface-dim);

    :global(.dark) & { border: none }
  }
}

/* The sort select and more options buttons */
.sort, .more-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* The sort select container */
.sort {

  /* Change select elements default styling */
  :global(.custom-select) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    button {
      width: fit-content;
      margin: 0;
    }
  }

  :global(.custom-select-options) {
    bottom: 0;
    top: calc(100% + .5rem);
    right: 0;
    left: auto;
    height: max-content;
    max-height: 15rem;
    width: 9.75rem !important;
    transform-origin: top left;
    border: 0.0625rem solid var(--color-surface-dim);

    :global(.dark) & { border: none }
  }
}

/* The more options- and download buttons */
.more-options {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  button {
    width: fit-content;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface);
    color: var(--color-body-variant);
    font-size: 0.875rem;
    text-align: center;
    border: 0.0625rem solid var(--color-table-control-border);

    :global(.dark) & {
      border: none;
    }

    &:last-child {
      padding-inline: 1rem;
    }
  }
}

/* Resize the controls to be responsive to various screen widths */
@media (min-width: 768px) {
  .filter-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .search-container {
    flex: 1 1 30%;
  }

  .filter {
    flex: 1 1 20%;

    :global(.custom-select-options) {
      width: 15rem;
    }
  }

  .sort-container {
    flex-direction: row;
    justify-content: space-between;
    &> * { flex: 0 0 fit-content }
  }

  .sort {
    :global(.custom-select) {
      justify-content: center;
      width: fit-content;
    }

    :global(.custom-select-options) {
      left: 0;
      right: auto;
    }
  }
}

@media (min-width: 1024px) {

  .filter-container {
    flex-wrap: no-wrap;

    &> span {
      flex: 0 0 fit-content;
    }
  }

  .search-container {
    flex: 0 1 12.5rem;
  }

  .filter {
    flex: 0 0 fit-content;

    :global(.custom-select) {
      button {
        justify-content: center;
      }
    }
  }
}

@media (min-width: 1280px) {
  .query {
    flex-direction: row;
    gap: 5rem;
  }

  .sort-container {
    width: fit-content;
    justify-content: end;
  }

  .sort {
    :global(.custom-select-options) {
      right: 0;
      left: auto;
    }
  }
}

/** 
 *
 * END QUERY STYLES
 *
*/
