/* Small Screens */

/* The main navigation container */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
  z-index: 3;
  background-color: var(--color-surface);
  border-bottom: 0.125rem solid var(--color-surface-border);
  transition: height 0.5s ease;

  & ul { list-style: none; }
  & li { display: contents; }
}

/* Style for the menu expansion on small screens */
.expanded {
  height: 100dvh;
  border: none;

  /* Switch between hamburger and close icons */
  & .menu-button {
    &> :first-child { 
      opacity: 0; 
    }
    & > :last-child { 
      opacity: 1; 
    }
  }

  & .secondary-nav, & .primary-nav {
    display: flex;
    padding-inline: min(5dvw, 5rem);
  }

  /* The nav element has pri. & sec. navs, control buttons, and the user profile */
  & nav {
    position: absolute;
    top: 4rem;
    left: 0;
    height: 100%;
    width: 100dvw;
    display: block;
    padding-right: 2rem;
    overflow-y: auto;
    background-color: var(--color-surface);
    border: none;

    /* Display nav items, control buttons, and user profile in a list */
    & > * {
      height: auto;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 0.5rem;

      &:first-child {
        padding-block: 1rem 0.5rem;
      }
    }
  }

  /* The nav links */
  nav li > * {
    color: var(--color-nav-icon);
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    gap: 1rem;

    & > * { justify-self: start; }

    /* The nav text */
    & > :last-child {
      color: var(--color-body);
    }
  }

  /* The notification link */
  .notifications {
    position: relative;

    &::after {
      content: "3";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 1rem;
      background-color: var(--color-warning);
      color: white;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }
  }

  /* For nav links */
  & .active { 
    border: none;
    background-color: var(--color-select-container);

    &:is(a) > * {
      color: var(--color-body-select) !important;
    }
  }

  /* The user profile */
  .user-profile {
    padding: 1rem min(5dvw, 5rem);

    /* Show large version */
    & > .profile-large {
      display: grid;
      grid-template-columns: 2rem 1fr;
      grid-template-rows: 1fr;
      font-size: .75rem;
      width: fit-content;
      padding: 0.5rem;
      gap: 1rem;

      /* Text block */
      & > div {
        display: grid;
        grid-template-rows: 1fr 1fr;
      }

      & span:last-child { opacity: .7 }
    }

    /* Hide small version */
    & > .profile-small {
      display: none;
    }
  }

}

/* Hide sec. nav on small screens */
.secondary-nav {
  display: none;
}

/* Logo container */
:has(>.logo) {
  display: flex;
  justify-content: center;
  width: 5rem;
  aspect-ratio: 1023/438;
}

/* Logo image */
.logo {
  background-image: var(--logo);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  inset: 1rem;
  cursor: pointer;
}

/* Menu button */
.menu-button {
  display: grid;
  place-items: center;
  font-size: 1.5rem;

  /* Overlay the hamburger and close icons */
  &> :first-child, &> :last-child {
    grid-area: 1 / 1;
    transition: opacity 0.4s ease;
  }

  /* Hide the close icon when menu not expanded */
  &> :last-child {
    opacity: 0;
  }
}

/* The nav element has the primary and secondary nav links, the control buttons and the user profile */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100dvw;
  height: 4.5rem;
  overflow: auto hidden;
  display: flex;
  background-color: var(--color-background);
  border-top: 0.125rem solid var(--color-nav-icon);

  /* uls that contain the navlinks; li's have display set to content */
  & > * {
    flex: 4;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* The navlinks and control buttons */
nav li > * {
  color: var(--color-body);
  text-decoration: none;
  display: grid;
  grid-template-rows: 1fr 1.5rem;
  justify-items: center;
  align-items: center;
  gap: 0px;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  line-height: 1.25rem;
  font-weight: 400;

  /* The nav text */
  & > :last-child {
    color: var(--color-nav-icon);
  }

  /* Hover effect; only apply to navlinks */
  &:is(a):not(.active):not(.active *):hover {
    background-color: var(--color-surface-container);
    color: var(--color-body);

    & > :last-child { color: var(--color-body) }
  }
}

/* Active state for navlinks and toggle button */
.active {
  &:is(a) {
    border-radius: 0.125rem;
    border-top: 0.25rem solid var(--color-primary);
  }

  &:is(a) > * {
    color: var(--color-primary) !important;
  }

  &:has( .darkmode-toggle) .darkmode-toggle {
    background-color: var(--color-primary);

    &::after {
      margin-inline: .5rem 0px;
    }
  }
}

/* The darkmode toggle switch */
.darkmode-toggle {
  width: 1.5rem;
  height: 1rem;
  border-radius: 0.5rem;
  padding: 0.125rem;
  background-color: var(--color-icon-border);
  display: flex;
  transition: background-color 0.3s ease;

  &::after {
    content: "";
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
    margin-inline: 0px .5rem;
    background-color: white;
    transition: margin-inline 0.5s ease;
  }
}

/* Collapse button hidden on small screens */
.collapse-button { display: none !important }

/* The user profile */
.user-profile {
  text-decoration: none;
  color: var(--color-body);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  cursor: pointer;

  /* Style the small version */
  & > .profile-small {
    color: var(--color-nav-icon);
    display: grid;
    grid-template-rows: 1fr 1.5rem;
    justify-items: center;
    align-items: center;
    gap: 0px;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    line-height: 1.25rem;
    font-weight: 400;
  }

  /* Hover state */
  &:is(a):not(.active):not(.active *) > *:hover {
    background-color: var(--color-surface-container);
    color: var(--color-body);
    border-radius: .125rem;

    & > :last-child { color: var(--color-body) }
  }

  /* Hide the large screen version */
  & > .profile-large {
    display: none;
  }
}


/* Large Screens */

@media screen and (min-width: 1024px) {
  /* Display collapse btn and sec. nav, hide menu btn */
  .collapse-button { display: grid !important }
  .secondary-nav { display: flex }
  .menu-button { display: none }

  /* The main navigation container */
  .navigation {
    position: sticky;
    background-color: var(--color-surface);
    width: clamp(20rem, 25dvw, 30rem);
    border-right: 0.125rem solid var(--color-surface-border);
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    transition: width 0.5s ease;

    /* Display nav text when fully open */
    & .nav-text {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  /* The container for the pri. and sec. navs, control buttons and user profile */
  nav {
    position: static;
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
    
    & > * {
      flex-direction: column;
      height: fit-content;
    }
  }

  /* The user profile */
  .user-profile {
    height: fit-content;
    align-items: start !important;

    /* Show large version */
    & > .profile-large {
      display: grid;
      grid-template-columns: 2rem 1fr;
      grid-template-rows: 1fr;
      font-size: .75rem;
      width: fit-content;
      padding: 0.5rem;
      gap: 1rem;

      /* Text block */
      & > div {
        display: grid;
        grid-template-rows: 1fr 1fr;
      }

      & span:last-child { opacity: .7 }
    }

    /* Hide small version */
    & > .profile-small {
      display: none;
    }
  }

  /* The logo element */
  .logo {
    background-image: var(--logo);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: min(50%, 15rem);
    aspect-ratio: 1023/438;
    cursor: pointer;
  }
  
  /* The logo container */
  :has(>.logo) {
    justify-content: start;
    width: 100%;
    height: 3rem;
    margin-block: 1rem;
    padding-inline: 1rem;
  }
  
  /* the nav links */
  nav li > * {
    grid-template-rows: 1fr;
    grid-template-columns: 1.5rem 1fr;
    color: var(--color-nav-icon);
    gap: 1rem;
    height: fit-content;
    margin: 0.25rem 0;
    font-size: 1rem;
    line-height: 1.25rem;

    /* Hover effect; only apply to navlinks */
    &:is(a):not(.active):not(.active *):hover {
      background-color: var(--color-surface-container);
      color: var(--color-body);
  
      & > :last-child { color: var(--color-body) }
    }
  
    /* Center the icon */
    &>:first-child {
      justify-self: center;
    }
  
    /* Set different color for the text */
    &>:last-child {
      color: var(--color-body);
      justify-self: start;
    }
  
    & custom-icon {
      font-size: 0.75rem;
    }
  }

  /* Remove border from active state, set largescreen active state colors */
  .active {
    background-color: var(--color-select-container);
    
    &:is(a) {
      border: none;
      
      &> * {
        color: var(--color-body-select) !important;
      }
    }
  }

  /* Style the notification badge */
  .notifications {
    position: relative;

    &::after {
      content: "3";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: .5rem;
      background-color: var(--color-warning);
      color: white;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }
  }

  /* When the menu is collapsed */
  .collapsed {
    width: 4.5rem;
    padding-block: 1.5rem;

    /* Use square logo */
    & .logo { background-image: url("../../assets/alphatwelve-a.svg"); }

    & :has(>.logo) {
      justify-content: center;
      padding: 0.25rem 0 1cqh;
      width: 2.5rem;
      height: auto;
      aspect-ratio: 1/1;
    }

    /* Hide text */
    & .nav-text { 
      opacity: 0;
      width: 0px;
      height: 0px;
      visibility: hidden;
      pointer-events: none !important;
    }

    /* Different styling for nav links */
    & li > * {
      color: var(--color-body) !important;
      grid-template-columns: 1fr 0px !important;
      width: 2.5rem;
      height: 2.5rem;
      gap: 0px !important;
      justify-items: center;

      &:is(a) {
        border-radius: 5rem;
      }
    }

    /* Rotate collapse btn icon */
    & .collapse-button iconify-icon {
      transform: rotate(180deg);
    }

    /* Hide darkmode toggle */
    & li:has(.darkmode-toggle) { display: none; }

    /* Hide user profile text */
    & .user-profile .profile-large {
      display: flex;
      justify-content: center;

      & > div {
        display: none;
      }
    }

    /* Style notification badge smaller when menu is collapsed */
    & .notifications {
      position: relative;
  
      &::after {
        content: "";
        position: absolute;
        right: .25rem;
        top: .25rem;
        background-color: var(--color-warning);
        color: white;
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
      }
    }
  }
}
