
/***********************************
* Variables & Default Dark mode
*/

/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-background: #FFFFFF;
  --color-surface: #FFFFFF;
  --color-surface-container: #F8FAFC;
  --color-surface-dim: #F1F5F9;
  --color-surface-border: #F2F2F7;
  --color-heading: #000000;
  --color-body: #334155;
  --color-nav-icon: #ADA9BB;
  --color-body-select: #8576FF;
  --color-select-container: #FCF7FF;
  --color-table-control-container: #FFFFFF;
  --color-table-control-border: #E2E8F0;
  --color-pagination-control: #64748B;
  --color-pagination-control-disabled: #334155;
  --color-pagination-control-container: #FFFFFF;
  --color-pagination-control-container-disabled: #E2E8F0;
  --color-pagination-control-border: #E2E8F0;
  --color-icon: #334155;
  --color-icon-container: #FFFFFF;
  --color-icon-container-variant: #FFFFFF;
  --color-icon-border: #E2E8F0;
  --color-primary: #8576FF;
  --color-info: #3B82F6;
  --color-info-container: #DBEAFE;
  --color-info-border: transparent;
  --color-success: #10B981;
  --color-success-container: #D1FAE5;
  --color-success-border: transparent;
  --color-warning: #F43F5E;

  --logo: url("./assets/alphatwelve-dark.svg");
}

.dark {
  --color-background: #383544;
  --color-surface: #484554;
  --color-surface-container: #ADA9BB;
  --color-surface-dim: #6A6676;
  --color-surface-border: transparent;
  --color-heading: #FFFFFF;
  --color-body: #FFFFFF;
  --color-body-select: #FCF7FF;
  --color-table-control-container: #484554;
  --color-table-control-border: #484554;
  --color-select-container: #8576FF;
  --color-pagination-control: #8576FF;
  --color-pagination-control-disabled: #8576FF99;
  --color-pagination-control-container: #484554;
  --color-pagination-control-container-disabled: #48455499;
  --color-pagination-control-border: transparent;
  --color-icon: #484554;
  --color-icon-container: #ADA9BB;
  --color-icon-container-variant: #FFFFFF;
  --color-icon-border: transparent;
  --color-primary: #8576FF;
  --color-info: #77B1FF;
  --color-info-container: transparent;
  --color-info-border: #77B1FF;
  --color-success: #65DDB5;
  --color-success-container: transparent;
  --color-success-border: #65DDB5;
  --color-warning: #F43F5E;

  --logo: url("./assets/alphatwelve-light.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #383544;
    --color-surface: #484554;
    --color-surface-container: #ADA9BB;
    --color-surface-dim: #6A6676;
    --color-surface-border: transparent;
    --color-heading: #FFFFFF;
    --color-body: #FFFFFF;
    --color-body-select: #FCF7FF;
    --color-table-control-container: #484554;
    --color-table-control-border: #484554;
    --color-select-container: #8576FF;
    --color-pagination-control: #8576FF;
    --color-pagination-control-disabled: #8576FF99;
    --color-pagination-control-container: #484554;
    --color-pagination-control-container-disabled: #48455499;
    --color-pagination-control-border: transparent;
    --color-icon: #484554;
    --color-icon-container: #ADA9BB;
    --color-icon-container-variant: #FFFFFF;
    --color-icon-border: transparent;
    --color-primary: #8576FF;
    --color-info: #77B1FF;
    --color-info-container: transparent;
    --color-info-border: #77B1FF;
    --color-success: #65DDB5;
    --color-success-container: transparent;
    --color-success-border: #65DDB5;
    --color-warning: #F43F5E;
  
    --logo: url("./assets/alphatwelve-light.svg");
  }
}

/******************************************
* END: Variables & Default Dark mode
*
*/

/********************************************
* General Styles
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color 0.05s linear, background-color 0.5s ease;
}

#app {
  position: relative;
  display: flex;
  height: 100dvh;
  background-color: var(--color-background);
  color: var(--color-body);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu-open {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.content {
  overflow-x: hidden;
  padding: 4rem 1rem 5rem;
  width: 100%;
  padding-inline: 1.25rem;
  padding-block: 4.5rem;
}

@media (min-width: 900px) {
  .content {
    padding-inline: 1.75rem;
    padding-block: 2.5rem 4.125rem;
  }
}

h1 {
  font-size: 1.0625rem;
  line-height: 1.25rem;
  font-weight: 400;
}

h2 {
  font-size: 1.0625rem;
  line-height: 0.75rem;
  font-weight: medium;
}

@media (min-width: 768px) {
  h1 { font-size: 1.375rem; }
  h2 { font-size: 1.125rem; }
}

button {
  color: var(--color-body);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

iconify-icon {
  display: inline-block;
  font-size: 1.5em;
  color: currentColor;
}

custom-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}
